@{
    ViewBag.Title = "Index";
}

<html>
<head>
<meta charset="UTF-8">
<title></title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
<link href="wapp.css" rel="stylesheet" type="text/css">
<script src="wapp.js" type="text/javascript"></script>

</head>
<body>
<h1>Weather Map</h1>

		<div id="mapCanvas"></div>
		
		<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&callback=initializeMap" type="text/javascript"></script>
		<div id="weatherContainer"></div>
</body>
</html>

